/** layout.less */




//// Layout.
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.row {
    position: absolute;
    top: 10px;
    width: 100%;
}




//// Color.
html, body {
    background-color: #429;
    color: #ccc;
}




//// Typography.
@import url(//fonts.googleapis.com/css?family=Podkova:400); // avoid “Blocked loading mixed active content "http://fonts.g...”

body {
    font-family: verdana, sans-serif;
}
pre {
    font-size: 12px;
    line-height: .9;
}
h1, h2, h3, h4, h5, h6, button, .button, #ldc-header, #ldc-footer {
    font-family: 'Podkova', verdana, sans-serif;
    font-weight: 400;
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6 {
    color: #2285a2;
    text-align: center;
}
p {
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: center;
}
a {
    transition: color .4s ease-out; // 'ease-out' for sudden start and slow finish
    h1, h2, h3, h4, h5, h6, p {
        transition: color .4s ease-out; // 'ease-out' for sudden start and slow finish
    }
    &:hover {
        color: #d0d;
        h1, h2, h3, h4, h5, h6, p {
            color: #d0d;
        }
    }
}
button, .button {
    transition: background-color .4s ease-out; // 'ease-out' for sudden start and slow finish
    &:hover {
        background-color: #808;
    }
}
a.active {
    color: #d0d;
    cursor: default;
    h1, h2, h3, h4, h5, h6, p {
        color: #d0d;
    }
}



//// 3D.
x3d {
    width: 100%;
}
#x3dom_logdiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 135px; // allow space for `#x3dom-state-viewer`
}
#x3dom-state-viewer {
}
.x3dom-progress {
}


//// ‘track’ buttons.
#ldc-track-buttons {
    position: absolute;
    z-index: 12;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}






