/** layout.less */




//// Layout.
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.row {
    position: absolute;
    top: 10px;
    width: 100%;
}




//// Color.
html, body {
    background-color: #429;
    color: #ccc;
}




//// Typography.
body {
    font-family: verdana, sans-serif;
}




//// 3D.
x3d {
    width: 100%;
}
#x3dom_logdiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 135px; // allow space for `#x3dom-state-viewer`
}
#x3dom-state-viewer {
}
.x3dom-progress {
}



